<!doctype html>
<html lang="fr">
<page ng-app="eventGenerator" ng-controller="eventController">
	<ons-sliding-menu menu-page="menu.html" main-page="eventForm.html" side="left"
                      var="menu" type="reveal" max-slide-distance="260px" swipeable="true">
    </ons-sliding-menu>

    <ons-template id="menu.html">
        <ons-page modifier="menu-page">
            <ons-toolbar modifier="transparent"></ons-toolbar>

            <ons-list class="menu-list">
                <ons-list-item class="menu-item" ng-click="menu.setMainPage('eventForm.html', {closeMenu: true})">
                    <ons-icon icon="fa-calendar"></ons-icon>
                    L'événement
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('eventFriends.html', {closeMenu: true})">
                    <ons-icon icon="fa-user"></ons-icon>
                    Ajouter des amis
                </ons-list-item>

                <ons-list-item class="menu-item" ng-click="menu.setMainPage('eventForm.html', {closeMenu: true})">
                    <ons-icon icon="fa-facebook" color="blue"></ons-icon>
                    Promouvoir l'événement
                </ons-list-item>
            </ons-list>

            <ons-list class="bottom-menu-list">
			
                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('eventForm.html', {closeMenu: true})">
					<ons-icon icon="fa-home" color="blue"></ons-icon>
					Accueil
                    <div class="notification menu-notification">2</div>
                </ons-list-item>

                <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('eventForm.html', {closeMenu: true})">
					<ons-icon icon="fa-gear" color="blue"></ons-icon>
                    Compte
				</ons-list-item>

            </ons-list>
        </ons-page>
    </ons-template>

    <ons-template id="eventForm.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Créer un événement</div>
            </ons-toolbar>
			
			<ons-row style="margin-top: 20px; margin-left: 20px;">
                <ons-col>
                    <input type="text" class="text-input text-input--underbar" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Titre de l'événement" ng-model='event.title'></input>
                </ons-col>
				
				<ons-col>
                    <ng-datepicker ng-model="event.date" placeholder="Entrer un date" class="text-input text-input--underbar">
					</ng-datepicker>
                </ons-col>
            </ons-row>
			
			<ons-row style="margin-top: 20px; margin-left: 20px;">
                <ons-col>
                    <input type="text" class="text-input text-input--underbar" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Adresse du RDV" ng-model='event.address' id="search_address" ng-keydown="$scope.onKeyDown($event)"></input>
                </ons-col>
            </ons-row>
				
			<div id="map" style=" margin-left: auto; margin-right: auto; width:350px">
			</div>
			
			<ons-row style="margin-top: 20px; margin-left: 20px;">
                <ons-col>
                    <textarea id="event-input" class="textarea textarea--transparent" rows="2" placeholder="Description">
					</textarea>
                </ons-col>
            </ons-row>
			
			<ons-row style="margin-top: 20px; margin-left: 20px;">
                <ons-col>
					<ons-button modifier="light" ng-click="menu.setMainPage('eventFriends.html', {closeMenu: true})">
						<ons-icon icon="fa-user-plus" ></ons-icon>
                        Ajouter des amis
                    </ons-button>
                </ons-col>
            </ons-row>
			
	<div id='selected_friend_list'>
		<ons-list class="friend-list">
			<ons-list-item class="person" modifier="tappable" ng-repeat="(key,friend) in friends.selected">
				<ons-row>
					<ons-col width="40px">
					</ons-col>
					<ons-col class="person-name">
						{{friend.name}} {{friend.surname}}
					</ons-col>
					<ons-col class="person-number">
						{{friend.tel}}
					</ons-col>
					<ons-col >
						{{display_invite_status(key)}}
					</ons-col>
					<ons-col>
						<ons-button>
							<ons-icon icon="fa-times" ng-click="remove_from_event(key,friend)"></ons-icon>
						</ons-button>
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</div>
	
			<ons-row style="margin-top: 20px; margin-left: 20px;">	
				<ons-col width = 70px align="center">			
				<label class="switch">
					<input type="checkbox" class="switch__input" checked></input>
					<span class="switch__toggle"></span>
				</label>
				</ons-col>
				<ons-col align="center">
				Envoyer des rappels
				</ons-col>
            </ons-row>
			
			<ons-row style="margin-top: 20px; margin-left: 20px;">			
				<ons-col>
					<button class="button button--large">Créer l'événement</button><br>
                </ons-col>
            </ons-row>
			
        </ons-page>
    </ons-template>

    <ons-template id="eventFriends.html">
        <ons-page>
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggle()">
                        <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Ajouter des amis à cet événement</div>
				<div class="right">
					<ons-toolbar-button ng-click="menu.setMainPage('eventForm.html', {closeMenu: true})">
						<ons-icon icon="fa-arrow-left"></ons-icon>
					</ons-toolbar-button>
				</div>
            </ons-toolbar>
			
	<div class="navigation-bar">
		<div class="navigation-bar__center">
			<input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model='request' ng-change='search_a_friend(request)' ></input>
			
		</div>
	</div>
	
	<div id='friend_list'>
		<ons-list class="person-list">
			<ons-list-item class="person" modifier="tappable" ng-repeat="(key,friend) in friends.all">
				<ons-row name="friendsList" ng-click="addFriend2Selection(key,friend)" ng-style="status.style[key]">
					<ons-col width="40px">
					</ons-col>
					<ons-col class="person-name">
						{{friend.name}} {{friend.surname}}
					</ons-col>
					<ons-col class="person-number">
						{{friend.tel}}
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</div>

        </ons-page>
    </ons-template>
</page>

</html>