<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="bower_components/OnsenUI/css/onsenui.css">
	<link rel="stylesheet" href="bower_components/OnsenUI/css/onsen-css-components-blue-basic-theme.css">
	<link rel="stylesheet" href="css/friends.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/OnsenUI/js/onsenui.min.js"></script>

	<script src="js/abstractLocalDB.js"></script>
	<script src="js/mocks/localDBMock.js"></script>
	<script src="js/global_variables.js"></script>
	<script src="js/friends.js"></script>

</head>
	
<body ng-app="appFriends" ng-controller="friend_Controller">
	<ons-tabbar>
		<ons-tab page="people.html">
			<ons-icon icon="ion-ios7-chatboxes" class="tab-icon">
			</ons-icon><span class="tab-label">Messages</span>
		</ons-tab>
		
		<ons-tab page="people.html" active="true">
			<ons-icon icon="ion-ios7-people" class="tab-icon">
			</ons-icon><span class="tab-label">Friends</span>
		</ons-tab>

		<ons-tab page="people.html">
			<ons-icon icon="ion-person" class="tab-icon">
			</ons-icon><span class="tab-label">Me</span>
		</ons-tab>
	</ons-tabbar>
	
	<ons-template id="people.html">
	<ons-page>
	<ons-toolbar>
		<div class="center">
			Friends
		</div>
		<div class="right">
			<ons-toolbar-button>
				<ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;" ng-click="friend_request()"></ons-icon>
			</ons-toolbar-button>
		</div>
	</ons-toolbar>
	
	<div class="navigation-bar">
		<div class="navigation-bar__center">
			<input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model='request' ng-change='search_a_friend(request)' >
		</div>
	</div>
	
	<div id='friend_list'>
		<ons-list class="person-list">
			<ons-list-item class="person" modifier="tappable" ng-repeat="(key,friend) in friends">
				<ons-row>
					<ons-col width="40px">
					</ons-col>
					<ons-col class="person-name">
						{{friend.name}} {{friend.surname}}
					</ons-col>
					<ons-col class="person-number">
						{{friend.tel}}
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</div>
		
	</ons-page>
	</ons-template>
</body>
</html>
