<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="bower_components/OnsenUI/css/onsenui.css">
	<link rel="stylesheet" href="bower_components/OnsenUI/css/onsen-css-components-blue-basic-theme.css">
	<link rel="stylesheet" href="css/friends.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/OnsenUI/js/onsenui.min.js"></script>

	<script src="js/abstractLocalDB.js"></script>
	<script src="js/abstractExternalDB.js"></script>
	<script src="js/mocks/localDBMock.js"></script>
	<script src="js/mocks/externalDBMock.js"></script>
	<script src="js/global_variables.js"></script>
	<script src="js/friends.js"></script>

</head>
	
<body ng-app="appFriends" ng-controller="friend_Controller">
	
	<div class="navigation-bar">
		<div class="navigation-bar__left">
			<span class="toolbar-button--quiet navigation-bar__line-height">
			<ons-icon icon="fa-home" color="blue" ng-click="reload()"></ons-icon>
			</span>
		</div>

		<div class="navigation-bar__center">
			joinUp!
		</div>
	</div>
	
	<div class="tab-bar tab-bar--top tab-bar--top-border">
		<label class="tab-bar__item tab-bar--top-border__item">
			<input type="radio" name="top-tab-bar-b">
			<button class="tab-bar__button tab-bar--top-border__button">
				What's hot
			</button>
		</label>

		<label class="tab-bar__item tab-bar--top-border__item" ng-controller="selectionController">
			<input type="radio" name="top-tab-bar-b" checked="checked">
			<button class="tab-bar__button tab-bar--top-border__button" >
				Friends
			</button>
		</label>

		<label class="tab-bar__item tab-bar--top-border__item" ng-controller="selectionController">>
			<input type="radio" name="top-tab-bar-b" ng-click="app.navi.pushPage('account.html');">
			<button class="tab-bar__button tab-bar--top-border__button" >
				Account
			</button>
		</label>
	</div>
	
	<div class="navigation-bar">
		<span class="navigation-bar__center" width=90%>
			<input type="search" class="search-input" style="width: 96%; margin: 6px auto 6px auto;" placeholder="Search" ng-model='request' ng-change='search_a_friend(request)' >
		</span>
	</div>
	
	<div id='friend_list'>
		<ons-list class="person-list">
			<ons-list-item class="person" modifier="tappable" ng-repeat="(key,friend) in friends">
				<ons-row>
					<ons-col width="40px">
					</ons-col>
					<ons-col class="person-name">
						{{friend.name}} {{friend.surname}}
					</ons-col>
					<ons-col class="person-number">
						{{friend.tel}}
					</ons-col>
				</ons-row>
			</ons-list-item>
		</ons-list>
	</div>
		
	</ons-page>
	</ons-template>
</body>
</html>
